.form {
    color: black;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

.form__fieldset {
    background-color: white;
    margin: 0 auto;
    border: 20px solid #05a9be;
}

.form__currency {
    width: 100%;
    max-width: 200px;
    font-size: 25px;
}