html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("./images/background.jpg");
  font-family: "Open Sans", "sans-serif";
  margin: 0 auto;
  max-width: 800px;
  color: white;
  font-size: 25px;
}

button {
  cursor: pointer;
}